.main-footer {
  max-width: 100%;
  padding-top: 1rem;
  text-align: start;
  word-wrap: break-word;
  background-color: #eef4f6;
  h3,
  h4 {
    margin: 0;
    font-weight: 500;
  }

  .footer-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    gap: 4rem;
    .footer__contact {
      max-width: 70%;
      .footer__contact-phone {
        margin: 0.5rem 0;
        color: var(--orange);
        font-size: 2rem;
      }
      & span {
        color: #000;
      }
      .info-social {
        display: flex;
        gap: 1rem;
        .facebook-icon,
        .youtube-icon,
        .github-icon {
          height: 1.6rem;
        }
        .facebook-icon {
          color: #005eff;
        }
        .youtube-icon {
          margin: 0 0.4rem;
          color: #ea3939;
        }
        .github-icon {
          color: #121212;
        }
      }
    }
    .footer__links {
      display: flex;
      .footer__links-group {
        h4 {
          text-align: center;
        }
        .links-list {
          margin: 0.4rem 0;
        }
      }
    }
  }
}

@media screen and (min-width: 732px) and (max-width: 1024px) {
  .main-footer {
    & .footer-top {
      gap: 1rem;
      .footer__links {
        max-width: 50%;
        .footer__links-group {
          .links-list {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 731px) {
  .main-footer {
    & .footer-top {
      gap: 1rem;
      .footer__links {
        max-width: 70%;
        .footer__links-group {
          flex: 1;
          h4 {
            text-align: start !important;
          }
          .links-list {
            padding: 0;
            .link-item {
              list-style: none;
            }
          }
        }
      }
    }
  }
}
