.triangle-bottom {
  height: 1rem;
  width: 1rem;

  background-color: #637280;

  clip-path: polygon(100% 50%, 100% 50%, 50% 100%, 0 50%);
}

.triangle-right {
  height: 1rem;
  width: 1rem;

  background-color: #637280;

  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 50% 50%);
}

.triangle-top {
  height: 1rem;
  width: 1rem;

  background-color: #637280;

  clip-path: polygon(50% 0, 100% 50%, 50% 50%, 0 50%);
}

.triangle-left {
  height: 1rem;
  width: 1rem;

  background-color: #637280;

  clip-path: polygon(50% 0, 50% 100%, 50% 100%, 0 50%);
}
