.otp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .otp-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    &__input-group {
      position: relative;
      display: flex;
    }
    &__label {
      position: absolute;
      top: -0.75rem;
      left: 0.5rem;

      padding: 0 0.25rem;

      background-color: var(--white);
    }

    &__input {
      flex: 1;
      padding: 0.5rem;

      border: 1px solid var(--gray);
      border-radius: 1rem 0.5rem 1rem 0.5rem;
      transition: border 0.3s ease-in-out;

      &:focus {
        border: 1px solid var(--primary);
      }
    }

    &__submit {
      border-color: var(--primary);

      transition: all 0.3s;

      &:hover {
        border-color: var(--white);

        background-color: var(--primary);
        color: var(--white);
      }
    }
  }

  .action-resend {
    display: flex;
    gap: 0.2rem;

    .btn {
      padding: 0;
      border: none;

      transition: color 0.3s;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
