:root {
  --gray: #637280;
  --green: #00613d;
  --orange: #ef5222;
  --blue: #5673d5;
}

// color
.perano-50 {
  color: #f0f7fd;
}
.perano-100 {
  color: #e3f0fc;
}
.perano-200 {
  color: #cde2f8;
}
.perano-300 {
  color: #aecef3;
}
.perano-400 {
  color: #9bbbee;
}
.perano-500 {
  color: #7295e2;
}
.perano-600 {
  color: #5673d5;
}
.perano-700 {
  color: #4760bb;
}
.perano-800 {
  color: #3c5297;
}
.perano-900 {
  color: #374878;
}
.gray {
  color: var(--gray);
}
.green {
  color: var(--green);
}
.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}
.mg-t-1 {
  margin-top: 1rem;
}
.mg-r-1 {
  margin-right: 1rem;
}
.mg-b-1 {
  margin-bottom: 1rem;
}
.mg-l-1 {
  margin-left: 1rem;
}
.l-h-sm {
  line-height: 1.4rem;
}
.l-h-xl {
  line-height: 2rem;
}

// font-weight
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

// font-size
.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 2rem;
}

//  display flex
.d-flex {
  display: flex;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
